{% extends 'rango/base.html' %}
{% load staticfiles %}

{% block title %}
	{{ category.name }}
{% endblock %}

{% block body_content %}
	<div>
		{% if category %}
			<h1>{{ category.name }}</h1>
			{% if pages %}
				<ul>
				{% for page in pages %}
					<li>
						<a href="{{ page.url }}">{{ page.title }}</a>
					</li>
				{% endfor %}
				</ul>
			{% else %}
				<strong>No pages added.</strong>
			{% endif %}
			<a href="{% url 'rango:add_page' category.slug %}">Add a Page</a>
		{% else %}
			<p>The specified category does not exist.</p>
		{% endif %}
	</div>
{% endblock %}