<!doctype html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>Rango Category</title>
	</head>
	<body>
		<div>
			{% if category %}
				<h1>{{ category.name }}</h1>
				{% if pages %}
					<ul>
					{% for page in pages %}
						<li>
							<a href="{{ page.url }}">{{ page.title }}</a>
						</li>
					{% endfor %}
					</ul>
				{% else %}
					<strong>No pages added.</strong>
				{% endif %}
			{% endif %}
		</div>
		
		<div>
			<a href="/rango/add-page/{{category.slug}}/">Add Page</a>
		</div>

		<div>
			<a href="/rango/">Go back</a>
		</div>
	</body>
</html>