{% extends 'rango/base.html' %}
{% load staticfiles %}

{% block title %}
	{{ title }}
{% endblock %}

{% block body_content %}
	<!-- Most liked Categories -->
	{% if categories %}
	<h1>Most Liked Categories</h1>
	<ul>
		{% for category in categories %}
			<li><a href='{% url "rango:show_category" category.slug %}'>{{ category.name }}</a></li>
		{% endfor %}
	</ul>
	{% else %}
		<strong>There are no categories present.</strong>
	{% endif %}
	
	<!-- Most Viewed Pages -->
	{% if most_viewed_pages %}
	<h1>Most Viewed Pages</h1>
	<ul>
		{% for page in most_viewed_pages %}
			<li><a href='{{ page.url }}'>{{ page.title }}</a></li>
		{% endfor %}
	</ul>
	{% else %}
		<strong>There are no categories present.</strong>
	{% endif %}
{% endblock %}