<!doctype html>
{% load staticfiles %}

<html>
	<head>
		<meta charset="utf-8" />
		<title>Rango</title>
	</head>
	<body>
		<h1>Rango says...</h1>
		<div>
			hey there partner <br/>
		</div>
		
		<!-- Most liked Categories -->
		{% if categories %}
		<h1>Most Liked Categories</h1>
		<ul>
			{% for category in categories %}
				<li><a href='/rango/category/{{ category.slug }}'>{{ category.name }}</a></li>
			{% endfor %}
		</ul>
		{% else %}
			<strong>There are no categories present.</strong>
		{% endif %}

		<br>
		<a href='/rango/add-category/'>Add Category</a>
		<br>
		
		<!-- Most Viewed Pages -->
		{% if most_viewed_pages %}
		<h1>Most Viewed Pages</h1>
		<ul>
			{% for page in most_viewed_pages %}
				<li><a href='{{ page.url }}'>{{ page.title }}</a></li>
			{% endfor %}
		</ul>
		{% else %}
			<strong>There are no categories present.</strong>
		{% endif %}

		<!-- <div>
			<a href="/rango/about/">About</a>
			<img src="{% static 'images/octocat.png' %}" alt="Octcat" />	
		</div> -->
	</body>
</html>