{% extends 'rango/base.html' %}
{% load staticfiles %}

{% block title %}
	Register
{% endblock %}

{% block body_content %}
	<h1>About Page</h1>
	{% if registered %}
		<p>Rango says: </p><strong>Thank you for registering!</strong>
		<a href="{% url 'rango:index' %}">Go back to Home</a>
	{% else %}
		<p>Rango says: </p><strong>Register here</strong><br/>
		<form id="register_form" method="post" action="{% url 'rango:register' %}" enctype="multipart/form-data">
			{% csrf_token %}

			{{ user_form.as_p }}
			{{ profile_form.as_p }}

			<input type='submit' name='submit' value='Register' />
		</form>
	{% endif %}
{% endblock %}